
/* Control the left side */
.left {
  left: 0;

}

/* Control the right side */
.right {
  right: 0;

}



/* tiny img nex to profile photo*/
.js-user-status {
  padding-left: 35vh;

}
  /* lo dejamos para el final
 .fa {
  margin-bottom: -40px;
  color: red;
}

/* description */
.description {
  width: 300px;
}



/* NEW TESTING */

.split {
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
}

.column {
  flex: 1 1 auto;
  height: 100%;
  width: 30%;
  max-width: 50%;
  margin-top: 40px;
  padding-left:  35px;
}

.small {
  margin-left: 50px;
}

.column1 {
  float: right;
  flex: 1 1 auto;
  height: 100%;
  width:70%;

}







/*  ADDING MEDIA QUERYS FOR DIFFERENT DEVICES, check out
NEED TO ADD MEDIA QUERYS FOR PRETTY MUCH ALL THE SCREENS IN */
@media only screen and (max-width: 600px) {
  .image {
  flex: 1 1 auto;
  height: 100%;
  width: 50%;
  max-width: 50%;

  }
}

@media only screen and (min-width: 600px) {
  .image {
  flex: 1 1 auto;
  height: 100%;
  width: 60%;

  max-width: 50%;

  }

  .column {
    flex: 1 1 auto;
  height: 100%;
  width: 300%;

  max-width: 50%;
  padding-left:  35px;
  }


  .column1 {
  float: right;
  flex: 1 1 auto;
  height: 80%;
  width:50%;


}

}


@media only screen and (min-width: 992px) {
  .column {
    width: 480px;
  }

  .column1 {
    width: 64.5%;
    height: 80vh;
    margin-top: -20px;
  }
}
